/* CSS Document */
h1 { font-family: Century Gothic;
color: #a03472;
text-align: center;
background-color: #ffc0cb}
body {background-color: #ffeaed }
p {text-align: left;
font-family: Century Gothic ;
font-size: 20pt;
color:#8a5a83}
 ul {list-style-type: square;
font-family: Century Gothic;
text-align: left;
color:#a03472;
list-style-position: inside;
font-size:20pt;}

   p {text-align: left;
font-family: Century Gothic ;
font-size: 20pt;
color:#8a5a83 }

h3 {text-align: left;
font-size: 20pt;
font-family: Century Gothic;
color:#8a5a83  }
h4 {text-align: left;
font-size: 20pt;
font-family: Century Gothic;
color:#8a5a83}
table {border-collapse: collapse;
font-size: 15pt;
color:#8a5a83}
th  {border: solid;
border-style: solid;
border-collapse: collapse;
font-family: Century Gothic;
font-size: 15pt
color:#8a5a83}
td  {border: solid;
border-style: solid;
border-collapse: collapse;
font-family: Century Gothic;
font-size: 15pt
color:#8a5a83}

h5{text-align: center;
font-size: 20pt;
font-family: Century Gothic;
color:#8a5a83 }